* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33.3333%;
}

.py-50 {
    padding: 50px 0;
}
.w-100{
    width: 100%;
}
.over-h{
    overflow: hidden;
}
// variable declaration
$roboto: 'Roboto';
$poppins: 'Poppins';
$montserrat: 'Montserrat';
$white: #fff;
$black: #000;
$yellow: #FABC2E;
$gray: #777777;
$light-black: #333333;
$light-green: #18d685;
$light-blue: #00c6d2;
$light: #00c1b0;
$blue: #007bff;
$blue1: #04172a;
$light-gray:#778498;

// header
header {
    background-color: $light-black;

    .menu {
        ul {
            li {
                list-style: none;
                padding: 0 10px;
                font-family: $poppins;
                font-size: 20px;

                a {
                    text-decoration: none;
                    color: $white;
                    font-weight: 400;
                }

                i {
                    color: $white;
                }
            }
        }
    }
}

// banner
.banner {
    background-image: url('../img/slider01.jpg');
    width: 100%;
    height: 700px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    .banner-content {
        position: absolute;
        top: 35%;
        left: 65%;

        h3 {
            font-size: 16px;
            color: $white;
            font-family: $roboto;
            font-weight: 600;
            letter-spacing: 2.5px;
        }

        h1 {
            font-size: 52px;
            color: $yellow;
            font-family: $montserrat;
            margin: 12px 0;
        }

        ul {
            li {
                i {
                    padding-right: 10px;
                }

                font-size: 20px;
                color: $white;
                font-family: $montserrat;
                list-style: none;
                padding: 5px 0;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }

        .btn {
            width: 150px;
            height: 50px;
            background-color: $yellow;
            text-align: center;
            line-height: 50px;
            margin-top: 10px;
            font-size: 17px;
            font-family: $montserrat;
            font-weight: bold;
        }
    }
}



// mobile section
.w-50 {
    .mobile-content {
        padding: 65px 40px;

        span {
            font-size: 16px;
            font-family: $roboto;
            color: $light-black;
            font-weight: 600;
            letter-spacing: 1px;
        }

        h3 {
            font-size: 30px;
            font-family: $montserrat;
            color: $black;
            font-weight: 700;
            margin: 10px 0;
        }

        p {
            font-size: 20px;
            font-family: $montserrat;
            color: $gray;
            font-weight: 600;
            margin-bottom: 12px;
        }

        h4 {
            font-size: 20px;
            font-family: $poppins;
            color: $black;
            font-weight: bold;
        }

        img {
            margin: 25px 0;
            margin-right: 12px;
        }
    }

}

// price table

.bg-img {
    background-image: url('../img/ico_bg_image_8\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 90px 0;

    .head {
        margin-bottom: 35px;

        h3 {
            color: $white;
            font-size: 30px;
            font-family: $montserrat;
        }

        span {
            color: $white;
            font-size: 50px;
            font-family: $montserrat;
            font-weight: 200;
        }
    }

    .w-33 {

        .first {
            background-color: transparent;
            border: 2px solid #415158;
            text-align: center;

            h4 {
                color: $light-green;
                font-size: 16px;
                font-family: $montserrat;
                background-color: rgba(18, 35, 47, 0.33);
                padding: 15px 0;
            }

            h2 {
                color: $light-green;
                font-size: 50px;
                font-family: $montserrat;
                padding: 40px 10px 35px;

            }

            span {
                color: $light-green;
                font-size: 15px;
                font-family: $montserrat;
                display: block;
            }

            p {
                color: $white;
                font-size: 15px;
                font-family: $montserrat;
                padding: 12px 0 10px;
                border-bottom: 1px solid #415158;
                border-top: 1px solid #415158;
            }

            .a,
            .b,
            .c {
                background-color: rgba(18, 35, 47, 0.33);
            }

            .btn1 {
                h4 {
                    width: 150px;
                    height: 50px;
                    text-align: center;
                    font-size: 17px;
                    font-family: $montserrat;
                    border: 1px solid $light-green;
                    border-radius: 25px;
                    color: $light-green;
                }

                padding: 50px 0;
                text-align: -webkit-center;
                background-color: rgba(18, 35, 47, 0.33);
            }
        }
    }

    .w-33 {

        .second {
            background-color: transparent;
            border: 2px solid #415158;
            text-align: center;

            h4 {
                color: $light-blue;
                font-size: 16px;
                font-family: $montserrat;
                background-color: rgba(18, 35, 47, 0.33);
                padding: 15px 0;
            }

            h2 {
                color: $light-blue;
                font-size: 50px;
                font-family: $montserrat;
                padding: 40px 10px 35px;

            }

            span {
                color: $light-blue;
                font-size: 15px;
                font-family: $montserrat;
                display: block;
            }

            p {
                color: $white;
                font-size: 15px;
                font-family: $montserrat;
                padding: 12px 0 10px;
                border-bottom: 1px solid #415158;
                border-top: 1px solid #415158;
            }

            .a,
            .b,
            .c {
                background-color: rgba(18, 35, 47, 0.33);
            }

            .btn1 {
                h4 {
                    width: 150px;
                    height: 50px;
                    text-align: center;
                    font-size: 17px;
                    font-family: $montserrat;
                    border: 1px solid $light-blue;
                    border-radius: 25px;
                    color: $light-blue;
                }

                padding: 50px 0;
                text-align: -webkit-center;
                background-color: rgba(18, 35, 47, 0.33);
            }
        }
    }

    .w-33 {

        .third {
            background-color: transparent;
            border: 2px solid #415158;
            text-align: center;

            h4 {
                color: $light;
                font-size: 16px;
                font-family: $montserrat;
                background-color: rgba(18, 35, 47, 0.33);
                padding: 15px 0;
            }

            h2 {
                color: $light;
                font-size: 50px;
                font-family: $montserrat;
                padding: 40px 10px 35px;

            }

            span {
                color: $light;
                font-size: 15px;
                font-family: $montserrat;
                display: block;
            }

            p {
                color: $white;
                font-size: 15px;
                font-family: $montserrat;
                padding: 12px 0 10px;
                border-bottom: 1px solid #415158;
                border-top: 1px solid #415158;
            }

            .a,
            .b,
            .c {
                background-color: rgba(18, 35, 47, 0.33);
            }

            .btn1 {
                h4 {
                    width: 150px;
                    height: 50px;
                    text-align: center;
                    font-size: 17px;
                    font-family: $montserrat;
                    border: 1px solid $light;
                    border-radius: 25px;
                    color: $light;
                }

                padding: 50px 0;
                text-align: -webkit-center;
                background-color: rgba(18, 35, 47, 0.33);
            }
        }
    }
}

// news
.nesw {
    background-image: url('../img/bg2.jpg');
    margin: 50px 0;
}

.news {
    text-align: center;

    h2 {
        color: $white;
        font-size: 50px;
        font-family: $poppins;
        margin-bottom: 60px;
        font-weight: 500;
    }

}

.w-33 {
    .content-n {
        background-color: transparent;
        margin: 0 9px;
        border: 2px solid $blue;

        img {
            display: block;
            width: 100%;
        }

        .x {
            padding: 20px 30px;

            span {
                color: $white;
                font-size: 15px;
                font-family: $poppins;
            }

            h5 {
                color: $white;
                font-size: 23px;
                font-family: $poppins;
                font-weight: 500;
                margin: 10px 0;
            }

            p {
                color: $white;
                font-size: 18px;
                font-family: $poppins;
                font-weight: 300;
            }
        }

    }
}

// partner
h2 {
    color: $black;
    font-size: 40px;
    font-family: $montserrat;
    text-align: center;
    margin-bottom: 25px;
}

// icos complete

.bg1 {
    background-color: rgba(238, 233, 233, 0.919);
}

.ico {
    .w-50 {
        .ico1 {
            padding: 0 10px;

            img {
                width: 100%;
                display: block;
            }

            .y {
                text-align: center;
                padding: 40px 0 30px;
                background-color: $white;

                h5 {
                    font-size: 21px;
                    font-family: $montserrat;
                    color: $black;
                    padding-bottom: 10px;
                }

                span {
                    font-size: 19px;
                    font-family: $montserrat;
                    color: $gray;
                }

                p {
                    font-size: 15px;
                    font-family: $montserrat;
                    color: $light-black;
                    padding-top: 10px;
                }
            }
        }
    }

}

// footer

.footer {
    background-color: $blue1;
    padding: 70px 64px 70px;

    .w-33 {
        h6 {
            font-size: 20px;
            font-family: $montserrat;
            margin: 10px 0;
            color: $white;
            font-weight: 500;
        }

        i {
            color: $white;
            font-size: 40px;
            margin: 20px 10px;
        }

        p {
            font-size: 19px;
            font-family: $poppins;
            margin: 10px 0;
            color: $light-gray;
            font-weight: 500;
       }
    }

    .w-33{
        h5{
            font-size: 22px;
            font-family: $montserrat;
            color: $white;
            font-weight: 500;
            margin: 15px 0;
        }
        .w-100{
            width: 100%;
            .w-50{
                width: 50%;
                ul{
                    li{
                        list-style: none;
                        font-family: $poppins;
                        font-size: 18px;
                        a{
                            text-decoration: none;
                            color: $light-gray;
                            font-weight: 400;
                            
                            i{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .w-33{
        strong{
            font-size: 20px;
            font-family: $poppins;
            margin: 10px 0;
            color: $light-gray;
            font-weight: 500;
        }
    }
}
.f1,.f2,.f3,.f4{
    padding:0 15px ;
}
.f5 img{
    margin: 18px 5px;
}

// advisor
.smart{
    h2{
font-size: 50px;
color: $black;
font-family: $montserrat;
margin-bottom: 20px;
    }
    h3{
        font-size: 50px;
        color: $black;
        font-family: $montserrat;
        font-weight: 200;
        margin-bottom: 25px;
    }
}
.ad-1{
    img{
        display: block;
        width: 100%;
    }
}
.advisor{
    text-align: center;
   padding: 102px;
   background-color: #f0f4f7;
    h3{
        font-size: 30px;
        font-family: $montserrat;
        color: $black;
        font-weight: 700;
        margin: 10px 0;
    }
    p{
        font-size: 20px;
        font-family: $montserrat;
        color: $gray;
        font-weight: 600;
        margin-bottom: 12px;
    }
}